/*DOCUMENTATION


Not added responsiveness according to device screen size -  will add later


*/

@font-face {
    font-family: 'Chirp';
    src: url('https://abs.twimg.com/fonts/chirp-regular-web.woff2') format('woff2'),
         url('https://abs.twimg.com/fonts/chirp-regular-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Chirp', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-family: 'Chirp', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; */

    background-color: #000101;
    color: white
}


.main {
    display: flex;
}



.div1 {
    position: fixed;
    background-color: #000000;
    height: 100vh;
    width: 25%;
    border-right: 2px solid rgb(106, 106, 106);
}

.logo {
    font-size: 5vh;
    line-height: 2;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #d0d0d0;
    transition: 0.5s ease-in-out 0.1s;

}

.logo:hover {
    color: white
}

.xlg {
    color: #242424;
    transition: 0.7s ease-in-out;

}

.xlg:hover {
    color: #ffffff;

}

.menu {
    display: flex;
    justify-content: center;

}

.menu li {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    height: 3.4vh;
    margin-top: 10px;
    border-radius: 50px;
    /* line-height: 3; */
    list-style: none;
    gap: 8px;
    cursor: pointer;
    transition: 0.4s ease-in-out 0.01s;


}

.menu li:hover {

    background-color: rgb(62, 62, 62);


}

.post {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 120%;
    width: 60%;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 0 auto;
    margin-top: 4%;
    align-items: center;
    border-radius: 24px;
    transition: 0.3s ease-in-out;
}

.post:hover {
    background-color: rgb(231, 231, 231);
}

.user {

    margin-top: 10%;
    margin-left: 15%;
    margin: 0 auto;
    margin-top: 5%;
    width: 40%;
    display: grid;
    grid-template-areas:
        'x x x y y y'
        'x x x y y y'
        'x x x z z z';
        cursor: pointer;
}




.girds {
    color: #000000;
    color: white;
}

#im1 {
    grid-area: x;
}

#im2 {
    margin-left:4%;
    grid-area: y;
    margin-top: 1.5vh;
    font-size: 1.2rem;
    font-weight: 900;
    width: 150%;
}

#im3 {
    grid-area: z;
    margin-bottom: 2.5vh;
    font-size: 0.8rem;
    color: #a6a6a6;
    margin-left: 5%;
    /* margin-left: 10px; */
}

.user img {
    height: 9vh;
    border-radius: 50%;
}




.div2 {
    margin-left: 25%;
    background-color: #474747;
    border-right: 2px solid rgb(106, 106, 106);

    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
}


.tab-bar {
   
    display: flex;
    justify-content: space-evenly;
    background-color: #000;

    padding: 10px;
    border-bottom: 1.5px solid rgb(106, 106, 106);

}

.tab {
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.tab.act {
    opacity: 1;
}

.tab.act::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #2196F3;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.happings{
    background-color:#000000;
    padding-left:20px;
    padding-top:10px;
    border-bottom: 1.5px solid rgb(106, 106, 106);
    

}
.happings-1{
    display: flex;
    align-items: center;
    
}
.happings-wht{
    padding-left: 10px;
    color: rgb(153, 153, 153);
    font-weight: 600;
}
.happings-wht input{
    background-color: #000;
    border: none;
    outline: none;
    font-size: x-large;
    padding-left: 10px;
    color: white;
    

}



.happings-img img{
    height: 7vh;
    border-radius:50% ;
}

.happings-2{
    margin-top: 1.3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.happings-2 i{
    font-size: 3vh;
    color: #1d9af1;
    padding-left:20px;
    cursor: pointer;
}
.happings-post{
    background-color:#959b9b;
    color:#000;
    font-weight: 600;
    padding: 10px 18px ;
    border-radius: 25px;
    margin-right: 3%;
    margin-bottom: 0.8%;
    cursor: pointer;
    transition:0.4s  ease-in-out;
}

.happings-post:hover{
    background-color: #fff;
}

.posts{
    background-color: #000000;
    display: flex;
    justify-content: center; 
    color: #1c9bef;
    border-bottom: 1.5px solid rgb(106, 106, 106);
    font-weight: 200;
    padding: 20px 10px;
    cursor: pointer;
}


.xpost{
    background-color: #000;
}

/* PROFILE */
.tweet-container {
    background-color: rgb(0, 0, 0);
    border-top: 1.5px solid rgb(106, 106, 106);
    border-bottom: 1.5px solid rgb(106, 106, 106);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
}


.tweet-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 1%;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
}

.handle {
    color: gray;
    font-weight: 400;
    
}
.time {
    color: gray;
    font-size: small;
}

.tweet-content {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.tweet-content video{
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1.3%;
    width: 80%;
    border: 1.5px solid rgb(106, 106, 106);
    border-radius: 10px;
}

.caption{
    margin-left: 2.5%;
}
.tweet-image {
    margin: 0 auto;
    max-width: 50%;
    /* margin-top: %; */
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1.5px solid rgb(106, 106, 106);
    border-radius: 10px;
}

.tweet-footer {
  
    justify-content: space-between;
    border-top: 1px solid rgb(106, 106, 106); 
    padding-top: 10px;
}


.tweet-stats {
   
    justify-content: space-evenly;
    align-items: center;
    color: gray;
}

.tweet-stats ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.tweet-stats li{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}

.tweet-stats li:hover{
    color: rgb(255, 255, 255);
    
}



.tweet-stats span {
    margin-right: 20px;
}

.highlight {
    background-color: yellow;
}
.footerr{
    background-color: #000000;
    display: flex;
    justify-content: center; 
    color: #1c9bef;
    border-bottom: 1.5px solid rgb(106, 106, 106);
    font-weight: 200;
    padding: 20px 10px;
    cursor: pointer;
}
.cc{
    font-family: cursive;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #878787;
    border-bottom: 1.5px solid rgb(106, 106, 106);
    font-weight: 200;
    padding: 20px 10px;
    cursor: pointer;
}
.cc a{
    color: #0099ff;
    font-variant: small-caps;
    text-decoration:none;
    transition: 0.3s ease-in-out;
}
.cc a:hover{
    font-size: larger;
    color: #72c6ff;
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgb(51, 255, 0), -2px -2px 5px rgb(225, 255, 0);
}

/* PROFILE END */


.div3 {
    border-left: 2px solid rgb(106, 106, 106);
    background-color: #000000;
    height: 110vh;
    width: 25%;
    /* overflow-y: auto; */
    margin-left: 75%;
    position: fixed;
    overflow: auto;
    scrollbar-width: none;  

    -ms-overflow-style: none; 
}
.div3::-webkit-scrollbar {
    display: none;
}
.div3s{
    position: relative;
    
}
.content-3{
    margin-left:7%;
    margin-right:25%
}

.srch{
    margin-top: 3%;
    display: flex;
    align-items: center;  
    background-color: #000;
    padding: 7px 1cap;
    font-size: larger;
    color: #757575;
    border: 1.5px solid #2f3237;
    border-radius: 100px;

    
}
.srch input{

    background-color: #000;
    border: none;
    outline: none;
    margin-left: 3%;
    width: 80%;
    height: 5vh;
    color:  #e9e9e9;

    
}

.srch input::placeholder{
    color:#757575;
    font-size: larger;
}

.subs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:4%;
    /* background-color: #000000; */
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/029/092/509/small_2x/colorful-confetti-sprinkle-animation-high-res-uhd-4k-quality-in-mov-format-complete-with-prores-4444-codec-for-alpha-channel-support-ideal-for-vfx-compositing-and-keying-projects-video.jpg);
    background-position: 39cm;
    padding: 22px 10px;
    border-radius: 20px;
    border: 1.5px solid #2f3237;
    border-radius: 20px;
}
.sub1{
    font-weight: 900;
    font-size: larger;
}
.sub2{
    padding-top: 5%;
}
.sub3{
    padding-top: 6%;

}

.sub3 button{
    cursor: pointer;
    color: white;
    padding: 3.5% 4%;
    font-size: large;
    font-weight: 00;
    background-color: #1c9af0;
    border: none;
    border-radius: 20px;
}


.hpn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:5%;
    background-color: #000000;
    padding: 22px 10px;
    border-radius: 20px;
    border: 1.5px solid #2f3237;
    border-radius: 30px;
    margin-bottom: 70%;
}
.hpnn{
    display: flex;
    padding-top: 5%;
}
.hpn1{
    font-size: larger;
    font-weight: 600;
    
}

.hpnimg img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding-right: 8px;
    border-radius: 9px;
    cursor: pointer;
}
#live{
    font-size: x-small;
    color:  #a6a6a6;
}
.hpnn{
    font-weight: 600;
    cursor: pointer;

}

.trend{
    color:#858585 ;
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    padding-top:2%;
    padding-bottom: 1%;
}
.hpn3{
    margin-top: 5%;
    cursor: pointer;

}
#ti{
    font-size: small;
    padding-right: 12px;
}
#t2{
    font-size: larger;
    font-weight: 500;
}
#t3{
    padding-top: 1.2%;
    color:#858585 ;
    font-size: small;
}

.hpn hr{
    margin-top: 4%;
    border: 1px solid #242424;

}
.shw{
    background-color: #000000;
    color: #1c9bef;
    font-weight: 200;
    padding-top: 3%;
    padding-bottom: 2%;
    cursor: pointer;
}


@media all and (min-width:481px){
    .mobs{
        display: none;
    }
}
/* For Mobile Phones */

@media all and (max-width:480px){
    .laps{
        display: none;
    }
    .mdiv1 {
        padding: 2%;
        position: fixed;
        top: 0;
        left: 0;
        /* margin: 0px;
        height: 25vh; */
        width: 96%;
        background-color: #000000;
        border-bottom: 1.5px solid rgb(106, 106, 106);
    }
    
    .mnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .mnav img {
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    #mlogo {
        color: #cfcfcf;
        font-size: xx-large;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    #mlogo:hover {
        color: white;
    }


    
    #upgrade {
        padding: 5px 15px;
        border: 0.8px solid rgb(106, 106, 106);
        border-radius: 25px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    #upgrade:hover{
        background-color: #282828;
    }

   
    
    .mtab ul {
        margin-top: 4%;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 0;
    }
    
    .mtab .mtab {
        font-weight: 600;
        padding: 10px;
        cursor: pointer;
        color: #474747;
        position: relative;
    }
    
    .mtab .mactive {
        color: white;
    }
    
    .mtab .mactive::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #2196F3;
        border-radius: 25px;
    }
    
    .mdiv2{
        display: flex;
        margin-top: calc(3% + 100px);
        width: 95%;
        padding: 10px;
        background-color: #000000;
        border-bottom: 1.5px solid rgb(106, 106, 106);

       
    }
    .mposty{
        display: flex;
    }
    /* .mdiv2x{
        display: flex;
        margin-top: 1%;
        width: 95%;
        padding: 10px;
        background-color: #000000;
        border-bottom: 1.5px solid rgb(106, 106, 106);
     
    } */
    

    .mdiv21{
        padding-right: 2%;
    }
    .mavatar {
        width: 13vw;
        margin-right: 1vw;
        border-radius: 50%;
    }
    .mdiv22{
        margin-top: 1%;
    }
    .musername{
        font-weight: bold;
        padding-right: 1vw;
    }
    .mtick{
        padding-right: 2vw;
    }
    .muserid{
        color: #757575;
    }
    .mpostcontent{
        padding-top: 2%;
    }
    .mvisuals {
        padding-top: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mvisuals video {
        width: 80%;
        border-radius: 10px ;
        border: 1.5px solid rgb(148, 148, 148);
    }
    .mvisuals img {
        width: 80%;
        border-radius: 10px ;
        border: 1.5px solid rgb(148, 148, 148);
    }
    .mposticons ul{
        margin-top: 5%;
        margin-bottom: 2%;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
    }
    


    .mdiv3{
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: #000000;
        display: flex;
        justify-content: space-between;
        font-size: 150%;
        align-items: center;
        border-top: 1.5px solid rgb(106, 106, 106);

    }
    .mdiv3 i{
        padding: 6vw 3vw;
        color: #c3c3c3;
        transition: 0.4s ease-in-out;
    }
    .mdiv3 i:hover{
        color: white;
    }
    .mdiv3 i:focus{
        color: white;

    }
    .bell {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    #icons {
        font-size: 20px;
    }
    @keyframes blink {
        0%, 100% { opacity: 1; }  
        50% { opacity: 0; }   
    }
    
    #count {
        position: absolute; 
        top: 25%;
        left: 50%;
        background-color: #1c9af0;
        color: white;
        font-size: 12px;
        border-radius: 50%;
        font-weight: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 16px;
        min-height: 16px;
        animation: blink infinite;
        animation-duration: 10s; 
        /* animation-delay: 10s; */
    }

}
